*{ 
    box-sizing: border-box;
}
.content {
    display: flex;
    justify-content: center;
    background-color: #0a0b0c;
    padding: 1px;
    
  }
  
  .title {
    font-size: 28px;
    color: #f0eff3;
  }

body {
    margin: 0;
    padding: 0;
}
  
img {
    width: 100%;
    cursor: pointer;
    
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    


}

.column {
    flex: 25%;
    padding: 5px;

}

.column img {
    margin-top: 1px;

}

.fondo {
    background-image: url("123.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
    width: 100%;
    
 
  }
  
  .fondo {
    color: black;
    text-align: center;
    height: 80px;
    font-size: 13px;
    
    
  }

  .fondo {

    animation: parpadeo 2s ease-in-out infinite;
  }
  
  @keyframes parpadeo {
    0% {
      color: rgb(247, 249, 252);
    }
    50% {
      color: rgb(70, 123, 238);
    }
    100% {
      color: black;
    }
  }
  

  p {
    font-family: "Agency FB", sans-serif;
    font-size: 25px;
    color: #0a0b0c;
  }
